/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.va-textarea__textarea {
  min-height: 200px !important;
}

.va-date-picker-cell-size {
  width: 50px !important;
  height: 50px !important;
}
